/* Makes border solid with a maroon color */
p.special {
  border: 1px solid #800000;
}
/* Makes margin 100px when inside body and changes background color */
body {
  margin: 100px;
  background-color: #87CEFA;
}
/* Gives image a dashed border and crimsion color */
img {
  margin: 50px;
  border: 1px dashed #DC143C;
}
/* Gives 50px padding to a paragraph */
p. {
  padding: 50px;
}
/* unvisited link */
a:link {
  color: #B22222;
}
/* mouse over link */
a:hover {
  color: #00008B;
}
/* Makes a link that is in a box and looks cool */
a:link, a:visited {
  background-color: #F0F8FF;
  color: #000000;
  padding: 10px;
  text-decoration: none;
}
